button.search {
  margin-left: 20px;
  padding: 3px;
}
button.reset {
  padding: 3px;
  margin-left: 20px;
  color: rgb(209, 66, 66);
}
.container {
  display: flex;
  max-width: 90%;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
}